/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff8dcb;
  --background-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-text-size: 116px; 
  --background-url: url(/images/cover-image-light.png);
}

@media (min-width: 375px) {
  :root {
  --title-text-size: 116px;
  }

  .header__title {
    font-size: var(--title-text-size);
  }
}

@media (min-width: 768px) {
  :root {
  --title-text-size: 120px;
  }

  .header__title {
    font-size: var(--title-text-size);
  }
}

@media (min-width: 1024px) {
  :root {
  --title-text-size: 157px;
  }

  .header__title {
    font-size: var(--title-text-size);
  }
}