/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff8dcb;
  --accent-color-title: #FF0070;
  --background-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-text-size: 116px; 
  --background-url: url(/images/cover-image-light.png);
  --accent-menu-color: #353430;
  --title-decor: #353430;
  --accent-main-color: #353430;

}

